
<%= render 'layouts/page_header', locals: { image_path: 'macbook.jpg' } %>


<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h1>Email Form</h1>
		</div>

		<div class="col-md-9">
			<% @posts.each do |post| %>
				<div class="post-preview col-md-4">
					<%= link_to post_path(post) do %>
						<h2 class="post-title"><%= post.title %></h2>
						<h4 class="post-subtitle"><%= post.content.truncate(50) %></h4>
					<% end %>
					<p class="post-meta">Posted by <a href="#"><%= post.user %></a><%= post.created_at %></p>
					<%= disqus_init :short_name => "short_name", :public_key => "public key", :secret_key => "secret_key", :access_token => "access_token" %>
				</div>

				<% end %>
					<hr>

					<!-- Pager -->
					<ul class="pager">
						<li class="next">
							<a href="#">Older Posts &rarr;</a>
						</li>
				</ul>
			</div>
		
	</div>
</div>

<hr>

