
<%= render 'layouts/page_header', locals: { image_path: 'home.jpg' } %>


<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<% @posts.each do |post| %>
				<div class="post-preview">
					<%= link_to post_path(post) do %>
						<h2 class="post-title"><%= post.title %></h2>
						<h4 class="post-subtitle"><%= post.content.truncate(50) %></h4>
					<% end %>
					<p class="post-meta">Posted by <a href="#"><%= post.user %></a><%= post.created_at %></p>
				</div>
					<hr>

					<!-- Pager -->
					<ul class="pager">
						<li class="next">
							<a href="#">Older Posts &rarr;</a>
						</li>
				</ul>
			</div>
		<% end %>
	</div>
</div>

<hr>

