
<div class="col-xs-8  main_content blog_content" >

	<% @posts.each do |post| %>
    <h1 class="page-header" onclick="document.location='<%= post_path(post) %>'"><%= post.title %></h1>

    <content class="content"><%= markdown(post.content) %></content>
 
    <%= link_to post_path(post), style: "text-decoration:none; color: rgba(0, 0, 0, 0.44)" do %>
    	Read More  
    <% end %>

    <hr>
  <% end %>

</div>

<%= render 'shared/side_bar' %>

<hr>

