 <div class="col-xs-8  main_content blog_content" >
	
	<%= link_to 'Back', admin_messages_path, class: 'btn btn-primary btn-xs' %>
	<%= link_to 'Delete', admin_delete_message_path(@message), method: :delete, class: 'btn btn-danger btn-xs' %>

	<h2 class="page-header"><%= @message.name %></h2>
	<h2 class="page-header"><%= @message.email %></h2>

	<content class="content"><%= markdown(@message.message) %></content>
		                   
</div>

<%= render 'layouts/admin_side_bar' %>	




