<div class="col-xs-4 side_content" >
  <div class="well">
	  <h3 class="logo" onclick="document.location='<%= root_path %>'">Commented Code</h3>

    <%= image_tag('code-in-comments.jpg', class: 'img_responsive', style: 'width: 100%')   %>

  </div>

  <div class="well">
    <h4>Keep in touch</h4>
  
    <hr class="shorter_hr">
    <ul>
    	<li>
        <%= link_to 'https://twitter.com/cata94v', style: "text-decoration:none;" do %>
          <p class="glyphics_p"><i class="fa fa-2x fa-twitter glyphics" aria-hidden="true"></i>Twitter</p>
        <% end %>
      </li>
      
    	<li>
        <%= link_to 'https://github.com/dwarfi', style: "text-decoration:none; color:#333333;", id: 'no-hover' do %>
          <p class="glyphics_p"><i class="fa fa-2x fa-github glyphics" aria-hidden="true"></i>Github</p>
        <% end %>
      </li>
      <li>
        <%= link_to new_message_path, style: 'text-decoration:none; color:#9e0f0f;' do %>
          <p class="glyphics_p"><i class="fa fa-2x fa-envelope glyphics" aria-hidden="true"></i>Email</p>
        <% end %>
      </li>
    </ul>

    <hr class="shorter_hr">
           
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero."</p>
  
 </div>
</div>