<br><br><br><br>

<%= simple_form_for @post, url: @post.new_record? ? admin_post_create_path : admin_post_update_path do |f| %>
	<div class="row">
		<div class="col-md-12">
			
			<div class="from-group ">
				<%= f.input :user_id, as: :hidden, input_html: { value: current_user.id },  label: false, class:'form-control' %>
			</div>		

			<div class="from-group">
				<%= f.label :title %>
				<%= f.input :title, label: false, class:'form-control' %>
			</div>

			<div class="from-group">
				<%= f.label :content %>
				<%= f.input :content, as: :text, label: false, input_html: { class: 'form-control', rows: 33, cols:180 } %>
			</div>

			<div class="form-group">
				
				<%= f.input :archived, as: :boolean %>
			</div>

			<br>
			<%= f.submit @post.new_record? ?  'Create Post' : 'Update Post', class:'btn btn-primary' %>
			<% unless @post.new_record? %>
				<%= link_to 'Back', admin_post_show_path(@post), class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
<% end %>


