  <div id="wrapper">

        <!-- Sidebar -->
      <% if current_user && current_user.admin %>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <%= link_to "Dashboard", admin_root_path %>
                </li>
                <li>
                    <%= link_to "Posts", admin_posts_path %>
                </li>
                <li>
                    <%= link_to "Messages", admin_messages_path %>
                </li>
                <li>
                    <%= link_to 'Users', admin_users_path %>
                </li>
                <li>
                    <%= link_to "Log Out", logout_path, method: :delete %>
                </li>
            </ul>
        </div>
      <% end %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                         <%= render 'layouts/flash_messages' %>
                        
                         <%= yield %>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

