<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  


</head>
<body>

  <% if current_user.present? && current_user.admin %>
	  <%= render 'layouts/admin_header' %>
  <% end %>

	<%= render 'layouts/admin_side_bar' %>


  


</body>
</html>
